*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

img{
    width: 100%;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 2.5rem;
    margin-inline: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 1.2rem;
}

#description{
    width: 90%;
    margin-inline: auto;
    line-height: 1.5;
}

#time{
    width: 50%;
    margin: 1.5rem auto;
    background-color:  hsl(330, 100%, 98%);
    padding-inline: 2rem;
    padding-top: 1rem;
    box-sizing: content-box;
    border-radius: 0.7rem;
}



#time > h3{
 margin-bottom: 1rem;
 color:  hsl(332, 51%, 32%)
}

#time > ul{
    padding-left: 0.9rem;
}

#time > ul > li{
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

#ingredients, #instructions{
   width: 65%;
   margin-inline: auto; 
}

h2{
    color: hsl(14, 45%, 36%);
}

#ingredients > h2 , #instructions > h2{
    margin-bottom: 1.5rem;
}

#ingredients > ul{
    padding-left: 0.9rem;
}

#ingredients > ul > li, #instructions > ol > li{
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
}

.first{
    margin: 1rem 0;
}

.second{
    margin: 1.5rem 0;;
}

#instructions > ol {
    padding-left: 0.6rem;
}

/* #instructions > ol > li{
    padding-left: 2rem;
} */